@model MedicalExaminations.Models.MedicalExamination

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalExamination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BehaviourFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BehaviourFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkinCovers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkinCovers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WoolCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WoolCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Injuries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Injuries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyHelpRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyHelpRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionsTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionsTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentPrescribed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentPrescribed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExaminationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExaminationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VeterinarianFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VeterinarianFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VeterinarianPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VeterinarianPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetClinic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetClinic.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
